/* The Landing Page is broken into 6 different sections: header, 4 middle sections, and footer */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mini {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid #3882F6;
}

.hero {
    width: 500px;
}

button {
    background-color: #3882F6;
    box-sizing: border-box;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    width: 125px;
    height: 48px;
    text-align: center;
    transition: font-size 0.5s ease-in-out;
}

.section1 button {
    border: 3px solid #3882F6;
}

.section4 button {
    border: 3px solid #F9FAF8;
}

.header, .footer, .section1 {
    background-color: #1F2937;
    display: flex;
}

.section3 {
    background-color: #E5E7EB;
}

.section4 {
    background-color: #3882F6;
    border-radius: 20px;
}

.section1 p, .section4 p, .footer {
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.logo, h1, h3 {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Roboto', arial;
    color: #1F2937;
}

.author {
    font-weight: bold;
    font-family: 'Roboto', arial;
    font-size: 18px;
}

.header, .section1, .section2, .section3, .section4-bg, .footer {
    padding-left: 80px;
    padding-right: 80px;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section1 {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section1 p {
    margin-top: -15px;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section2 {
    padding-top: 25px;
    padding-bottom: 50px;
}

.s2-card {
    width: 200px;
}

.s2-card p {
    text-align: justify;
    text-align-last: center;
    margin: 0;
}

.section3 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3-card {
    width: fit-content;
    text-align: center;
    text-align-last: right;
}

.section4 {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1 1 auto;
    /* not sure if right... */
}

.section4-bg {
    padding: 100px 80px;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 button:hover {
    border: 3px solid #F9FAF8;
}

.section4 button:hover {
    border: 3px solid #3882F6;
}

button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    cursor: pointer;
    font-size: larger;
}